@page "/"
@using Bloc.Example.Blazor.WebAssembly.Cubit
@using Bloc.Example.Blazor.WebAssembly.States
@using Bloc.Models
@inject BlocBuilder<TodosCubit, TodosState> MyTodosBuilder
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<FluentStack Orientation="Orientation.Vertical">
    @if (MyTodosBuilder.State is TodosLoadingState)
    {
        <FluentLabel Typo="Typography.H3">Loading Your Todos</FluentLabel>
    }
    else
    {
        <FluentLabel Typo="Typography.H3">You have @(MyTodosBuilder.State.Todos.Count) Todos</FluentLabel>
    }
</FluentStack>

@code{

    protected override void OnInitialized()
    {
        MyTodosBuilder.Bloc.OnStateChanged += ListenToMyTodoChanges;
        if (MyTodosBuilder.State is TodosInitialState)
        {
            MyTodosBuilder.Bloc.Load();
        }
    }

    private void ListenToMyTodoChanges(TodosState todosState)
    {
        if (todosState is TodosLoadedState)
        {
            StateHasChanged();
        }
    }

}